.order-container {
  padding: 1rem 1.5rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.order-container h1 {
  color: orange;
  user-select: none;
  margin-bottom: 1rem;
}

.smile {
  transform: scale(2);
  color: orange;
}
